li {
  list-style: none;
  padding: 0.6rem 0.5rem;
  color: #000;
  font-weight: 500;
  background-color: #f3eeee;
  height: 1.5rem;
  width: 3.5rem;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
  margin: 8px; /* será removida */
}

.bgWhite {
  background-color: #817e7e;
}
