li {
  list-style: none;
  padding: 0.6rem 0.5rem;
  color: #000;
  font-weight: 500;
  background-color: #f3eeee;
  height: 2rem;
  width: 100%;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.bgWhite {
  background-color: #9e9fa1;
}

.bgBlue {
  background-color: #4285f4;
}
